.idea
.tmp
app/components
app/_components
node_modules
node
.sass-cache
app/data/config.json
target
dist
*.iml
*.log
.DS_Store

######################
# Project Specific
######################
.classpath
.project
.settings/
.classpath
.project
.settings/