<div class="createNewDrug">
    <div class="flexRow">
        <div class="nameLabel">
            <div>Search for NCI drug:</div>
            <div>(free text is no longer allowed)</div>
        </div>
        <input type="text" class="form-control search-box" ng-model="suggestedDrug"
               uib-typeahead="drug as drug.name for drug in processSearchDrugs($viewValue)" typeahead-min-length="2"
               typeahead-template-url="drugsDropdown.html" typeahead-wait-ms="1000"/>
        <span ng-if="findingDrug" style="margin: 5px">
            <i class="fa fa-spinner fa-spin"></i>
        </span>
        <button class="btn btn-success" ng-click="addDrug(suggestedDrug, preferName)" style="margin-left: 5px; height: 34px"
                ng-show="suggestedDrug && suggestedDrug.name">Add Drug
        </button>
    </div>
    <div class="flexRow" ng-show="suggestedDrug && suggestedDrug.synonyms">
        <h5 class="nameLabel">Change preferred drug name to: </h5>
        <select chosen
                ng-model="preferName"
                data-placeholder="Choose a prefer name or Leave it blank"
                class="form-control searchbox preferNameDropdown"
                id="preferNameDropdownChosen"
                ng-options="synonym.name for synonym in suggestedDrug.synonyms">
            <option value="synonyms.name"></option>
        </select>
    </div>
    <div>
        <div class="infoReminder">
            {{addDrugMessage}}
        </div>
        <div class="errorReminder">
            <div>{{addDrugErrorMessage}}</div>
            <p ng-show="searchDrugsError">Sorry, suggested drugs are unavailable now.</p>
        </div>
    </div>

<script type="text/ng-template" id="drugsDropdown.html">
    <a id="drugsDropdown" style="display: flex; flex-direction: column">
        <div class="basicName" ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></div>
        <div class="alsoKnownAs">NCI Thesaurus Code:
            <span ng-bind-html="match.model.code | uibTypeaheadHighlight:query"></span>
        </div>
        <div class="alsoKnownAs" ng-show="match.model.synonyms">Also known as:
            <div ng-repeat="synonym in match.model.synonyms" ng-bind-html="synonym.name | uibTypeaheadHighlight:query"></div>
        </div>
    </a>
</script>

</div>
