<div class="modify-tumor-type">
    <div class="modal-header">
        <h4 class="modal-title">
            Modify Cancer Types</h4></div>
    <div class="modal-body">
        <span ng-if="meta.type === 'modifyNew'">
            <select-cancer-types
                title="'Select cancer types for INCLUSION'"
                cancer-types="meta.cancerTypes"
                message="meta.message"
                oncotree="meta.oncoTree"
                require-non-empty="true"
                on-change="onChangeNewCancerTypes(cancerTypes, invalid)"
            ></select-cancer-types>
            <hr/>
            <select-cancer-types
                title="'Select cancer types for EXCLUSION'"
                cancer-types="meta.excludedCancerTypes"
                message="meta.message"
                oncotree="meta.oncoTree"
                on-change="onChangeExcludedCancerTypes(cancerTypes, invalid)"
            ></select-cancer-types>
        </span>
        <span ng-if="meta.type === 'modifyRelevant'">
            <table class="table table-striped">
                <thead>
                    <th>Cancer Type</th>
                    <th>Cancer Type Details</th>
                    <th>Code</th>
                    <th style="text-align: center">Delete</th>
                </thead>
                <tbody>
                    <tr ng-repeat="cancerType in meta.newCancerTypes" ng-style="cancerType.deleted ? { 'text-decoration': 'line-through'} : undefined">
                        <td>{{cancerType.mainType}}</td>
                        <td>{{cancerType.subtype}}</td>
                        <td>{{cancerType.code}}</td>
                        <td style="text-align: center" style="cursor: pointer"><i ng-class="cancerType.deleted ? 'fa fa-undo' : 'fa fa-trash-o'" ng-click="toggleDeleteRelevantCancerType($index)"></i></td>
                    </tr>
                </tbody>
            </table>
        </span>
    </div>
    <div class="modal-footer">
        <p style="color:red;float:left;text-align: left" ng-if="meta.externalMessage" ng-bind-html="meta.externalMessage"></p>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="shouldNotSave()">Save</button>
    </div>
</div>
