<div class="modify-tumor-type">
    <div class="modal-header">
        <h4 class="modal-title">
            Modify Cancer Types</h4></div>
    <div class="modal-body">
        <span ng-if="meta.type === 'modifyNew'">
            <select-cancer-types
                title="'Select cancer types for INCLUSION'"
                cancer-types="meta.cancerTypes"
                message="meta.message"
                oncotree="meta.oncoTree"
                require-non-empty="true"
                on-change="onChangeNewCancerTypes(cancerTypes, invalid)"
            ></select-cancer-types>
            <hr/>
            <select-cancer-types
                title="'Select cancer types for EXCLUSION'"
                cancer-types="meta.excludedCancerTypes"
                message="meta.message"
                oncotree="meta.oncoTree"
                on-change="onChangeExcludedCancerTypes(cancerTypes, invalid)"
            ></select-cancer-types>
        </span>
        <span ng-if="meta.type === 'modifyRelevant'">
            <div ng-repeat="cancerType in meta.cancerTypes">
                <span>{{cancerType}}</span>
                <i class="fa fa-delete" onclick=""></i>
            </div>
        </span>
    </div>
    <div class="modal-footer">
        <p style="color:red;float:left;text-align: left" ng-if="meta.externalMessage" ng-bind-html="meta.externalMessage"></p>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="shouldNotSave()">Save</button>
    </div>
</div>
