<div class="realtime-string" style="display: flex; flex-direction: column; flex-grow: 1">
    <div ng-switch on="inReviewMode()" class="flex-column">
        <div ng-switch-when="false" class="flex-column">
            <div ng-switch on="t" class="flex-column">
                <div ng-switch-when="p" class="content-wrapper flex-column">
                    <p ng-if="!fe && editingMessage" class="editing-message">{{editingMessage}}</p>
                    <textarea msd-elastic
                              ng-disabled="!fe"
                              ng-class="getInputClass()"
                              ng-model="pureContent.text"
                              ng-change="updateContent(pureContent.text, data[key])"
                              ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                    ></textarea>
                    <pub-iframe ng-model="data[key]"></pub-iframe>
                </div>
                <div ng-switch-when="MUTATION_NAME" class="flex-column" ng-init="focused = false" ng-click="focused=true">
                    <p ng-if="!fe && editingMessage" class="editing-message">{{editingMessage}}</p>
                    <textarea msd-elastic
                              class="title"
                              autofocus
                              ng-if="focused"
                              ng-disabled="!fe"
                              ng-model="pureContent.text"
                              ng-change="updateContent(pureContent.text, data[key])"
                              ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                    </textarea>
                    <span ng-if="!focused" style="padding: 2px;">{{data[key]}}</span>
                </div>
                <div ng-switch-when="treatment-select" class="chosen-full-width">
                    <div style="margin-top:10px;margin-bottom:10px">
                        <select ng-disabled="!fe"
                                chosen allow-single-deselect="true"
                                ng-model="pureContent.text"
                                ng-change="updateContent(pureContent.text, data[key])"
                                ng-options="opt.value as opt.label for opt in o">
                            <option value="NA"></option>
                        </select>
                    </div>
                    <div ng-repeat="type in content.propagationTypes"
                         ng-if="content.propagationOpts[type].length > 0"
                         ng-init="targetModel = type == 'solid' ? data.propagation:data.propagationLiquid"
                         style="margin-bottom:10px">
                        <span>Level of Evidence in other {{type}} tumor types: </span>
                        <select ng-disabled="!fe"
                                chosen allow-single-deselect="true"
                                ng-model="targetModel"
                                ng-change="updateContent(targetModel, '{{targetModel}}', type)"
                                ng-options="opt.value as opt.name for opt in content.propagationOpts[type]">
                            <option value="NA"></option>
                        </select>
                    </div>
                </div>
                <div ng-switch-when="implication" class="chosen-full-width">
                    <select ng-disabled="!fe"
                            chosen allow-single-deselect="true"
                            ng-model="pureContent.text"
                            ng-change="updateContent(pureContent.text, data[key])"
                            ng-options="opt.value as opt.label for opt in o">
                        <option disabled></option>
                    </select>
                </div>
                <div ng-switch-when="checkbox|radio" ng-switch-when-separator="|">
                    <div>
                        <span ng-repeat="checkbox in checkboxes">
                            <input id="::{{uuid+$index}}"
                                   type="{{t}}"
                                   ng-value="checkbox"
                                   ng-disabled="!fe"
                                   ng-model="pureContent.text"
                                   ng-checked="pureContent.text===checkbox"
                                   ng-click="toggleCheckbox($event)">
                            <label for="::{{uuid+$index}}">{{checkbox}}</label>
                        </span>
                    </div>
                </div>
                <div ng-switch-default></div>
            </div>
        </div>
        <div ng-switch-when="true" class="flex-column">
            <div ng-switch on="t" class="flex-column">
                <div ng-switch-when="p" class="content-wrapper flex-column">
                    <h4 ng-if="reviewLayout('regular')">New Content:</h4>
                    <textarea msd-elastic ng-disabled="!reviewContentEditable('regular')"
                              ng-class="getInputClass()"
                              ng-model="pureContent.text"
                              ng-change="updateContent(pureContent.text, data[key])"
                              ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                    </textarea>
                    <div ng-if="reviewLayout('regular')">
                        <h4>Difference comparing to the old content:</h4>
                        <p ng-bind-html="diffHTML"></p>
                        <p ng-if="!diffHTML"> No old content.</p>
                    </div>
                    <pub-iframe ng-model="data[key]"></pub-iframe>
                </div>
                <div ng-switch-when="MUTATION_NAME" class="flex-column" ng-init="focused = false" ng-click="focused=true">
                    <p ng-if="reviewLayout('name')" class="margin-bottom-0">New Content:</p>
                    <textarea msd-elastic
                              class="title"
                              autofocus
                              ng-if="focused"
                              ng-disabled="!reviewContentEditable('regular')"
                              ng-model="pureContent.text"
                              ng-change="updateContent(pureContent.text, data[key])"
                              ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                    </textarea>
                    <span ng-if="!focused" style="padding: 2px;">{{pureContent.text}}</span>
                    <div ng-if="reviewLayout('name')" ng-class="getOldContentDivClass(data[key])">
                        <p class="margin-bottom-0">Old Content:</p>
                        <span ng-class="getOldContentClass(data[key+'_review'].lastReviewed)">{{::data[key+'_review'].lastReviewed}}</span>
                    </div>
                </div>
                <div ng-switch-when="treatment-select" class="chosen-full-width">
                    <h4 ng-if="reviewLayout('regular') && data[key+'_review'].lastReviewed">New Content:</h4>
                    <select ng-disabled="!reviewContentEditable('regular')"
                            chosen allow-single-deselect="true"
                            ng-model="pureContent.text"
                            ng-change="updateContent(pureContent.text, data[key])"
                            ng-options="opt.value as opt.label for opt in o">
                        <option value="NA"></option>
                    </select>
                    <div ng-if="reviewLayout('regular') && data[key+'_review'].lastReviewed">
                        <h4>Old Content:</h4>
                        <select ng-disabled="true"
                                chosen
                                ng-model="data[key+'_review'].lastReviewed"
                                ng-options="opt.value as opt.label for opt in o">
                            <option value="NA"></option>
                        </select>
                    </div>
                    <div ng-repeat="type in content.propagationTypes"
                         ng-init="targetModelKey = type == 'solid' ? 'propagation': 'propagationLiquid'"
                         style="margin-top:10px;">
                        <strong>Level of Evidence in {{type}} tumor types: </strong>
                        <h4 ng-if="reviewLayout('regular') && data[targetModelKey + '_review'].lastReviewed">New Content:</h4>
                        <div>
                            <select ng-disabled="!reviewContentEditable('regular') || pureContent.text == 0"
                                    chosen allow-single-deselect="true"
                                    ng-model="data[targetModelKey]"
                                    ng-change="updateContent(data[targetModelKey], '{{data[targetModelKey]}}',type)"
                                    ng-options="opt.value as opt.name for opt in content.propagationOpts[type]">
                                <option value="NA"></option>
                            </select>
                        </div>
                        <div ng-if="reviewLayout('regular') && data[targetModelKey + '_review'].lastReviewed">
                            <h4>Old Content:</h4>
                            <div>
                                <select ng-disabled="true"
                                        chosen
                                        ng-model="data[targetModelKey + '_review'].lastReviewed"
                                        ng-options="opt.value as opt.name for opt in content.propagationOpts[type]">
                                    <option value="NA"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="implication" class="chosen-full-width">
                    <div>
                        <h4 ng-if="reviewLayout('regular')">New Content:</h4>
                        <div>
                            <select ng-disabled="!reviewContentEditable('regular')"
                                    chosen allow-single-deselect="true"
                                    ng-model="pureContent.text"
                                    ng-change="updateContent(pureContent.text, data[key])"
                                    ng-options="opt.value as opt.label for opt in o">
                                <option value="NA"></option>
                            </select>
                        </div>
                        <div ng-if="reviewLayout('regular')">
                            <h4>Old Content:</h4>
                            <select ng-disabled="true"
                                    chosen
                                    ng-model="data[key+'_review'].lastReviewed"
                                    ng-options="opt.value as opt.label for opt in o">
                                <option value="NA"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="checkbox|radio" ng-switch-when-separator="|">
                    <div ng-if="key !== 'ocg' && reviewLayout('regular')"><h4>New Content:</h4></div>
                    <div ng-style="getInputStyle('new')">
                        <span ng-repeat="checkbox in checkboxes">
                          <input id="::{{uuid+$index}}"
                                 type="{{t}}"
                                 ng-value="checkbox"
                                 ng-disabled="!reviewContentEditable('regular')"
                                 ng-model="pureContent.text"
                                 ng-checked="pureContent.text===checkbox"
                                 ng-click="toggleCheckbox($event)">
                          <label for="::{{uuid+$index}}">{{checkbox}}</label>
                        </span>
                    </div>
                    <div ng-if="reviewLayout('regular')">
                        <h4 ng-if="key !== 'ocg'">Old Content:</h4>
                        <div ng-style="getInputStyle('old')">
                            <span ng-repeat="checkbox in checkboxes" class="reviewedBG">
                              <input id="::{{uuid+$index+'_review'}}"
                                     type="{{t}}"
                                     ng-checked="getOldContentChecked(checkbox)"
                                     ng-disabled="true">
                              <label for="::{{uuid+$index+'_review'}}">{{checkbox}}</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div ng-switch-default></div>
            </div>
        </div>
        <div ng-switch-default></div>
    </div>
</div>
