<div class="realtime-string">
    <div ng-switch on="inReviewMode()">
        <div ng-switch-when="false">
            <div ng-switch on="t">
                <div ng-switch-when="p">
                    <p ng-if="!fe && editingMessage" class="editing-message">{{editingMessage}}</p>
                    <textarea ng-disabled="!fe"
                              ng-class="getInputClass()"
                              ng-init="oldValue=''"
                              ng-focus="oldValue=pureContent.text"
                              ng-model="pureContent.text"
                              ng-blur="data[key]=pureContent.text"
                              ng-change="updateContent(pureContent.text, oldValue)"
                              ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                    ></textarea>
                    <pub-iframe ng-model="data[key]"></pub-iframe>
                </div>
                <!--Seperate Mutation_Name & Treatment_Name here. We may need to recombine them in the future.
                    <div ng-switch-when="MUTATION_NAME|TREATMENT_NAME" ng-switch-when-seperator="|">
                -->
                <div ng-switch-when="MUTATION_NAME">
                    <p ng-if="!fe && editingMessage" class="editing-message">{{editingMessage}}</p>
                    <input type="text" class="editEmpty input-name"
                           ng-disabled="!fe"
                           ng-style="{ 'width': (pureContent.text.length * 11) + 'px' }"
                           ng-init="oldValue=''"
                           ng-focus="oldValue=pureContent.text"
                           ng-model="pureContent.text"
                           ng-blur="data[key]=pureContent.text"
                           ng-change="updateContent(pureContent.text, oldValue)"
                           ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                </div>
                <div ng-switch-when="TREATMENT_NAME">
                    <p type="text" class="editEmpty treatment-name">{{uuidtoName(data[key])}}</p>
                </div>
                <div ng-switch-when="treatment-select" class="chosen-full-width">
                    <div style="margin-top:10px;margin-bottom:10px">
                        <select ng-disabled="!fe"
                                chosen allow-single-deselect="true"
                                ng-init="oldValue=''"
                                ng-focus="oldValue=pureContent.text"
                                ng-blur="data[key]=pureContent.text"
                                ng-model="pureContent.text"
                                ng-change="updateContent(pureContent.text, oldValue)"
                                ng-options="opt.value as opt.label for opt in o">
                            <option value="NA"></option>
                        </select>
                    </div>
                    <div ng-if="content.propagationOpts.length > 0" style="margin-bottom:10px">
                        <span>Level of Evidence in other tumor types: </span>
                        <select ng-disabled="!fe"
                                chosen allow-single-deselect="true"
                                ng-model="data.propagation"
                                ng-init="oldValue=''"
                                ng-focus="oldValue=data.propagation"
                                ng-change="updateContent(data.propagation, oldValue)"
                                ng-options="opt.value as opt.name for opt in content.propagationOpts">
                            <option value="NA"></option>
                        </select>
                    </div>
                </div>
                <div ng-switch-when="implication" class="chosen-full-width">
                    <select ng-disabled="!fe"
                            chosen allow-single-deselect="true"
                            ng-init="oldValue=''"
                            ng-focus="oldValue=pureContent.text"
                            ng-blur="data[key]=pureContent.text"
                            ng-model="pureContent.text"
                            ng-change="updateContent(pureContent.text, oldValue)"
                            ng-options="opt.value as opt.label for opt in o">
                        <option disabled></option>
                    </select>
                </div>
                <div ng-switch-when="select-chosen" class="chosen-full-width">
                    <select ng-disabled="!fe"
                            chosen allow-single-deselect="true"
                            ng-init="oldValue=''"
                            ng-focus="oldValue=pureContent.text"
                            ng-blur="data[key]=pureContent.text"
                            ng-model="pureContent.text"
                            ng-change="updateContent(pureContent.text, oldValue)"
                            ng-options="opt for opt in o">
                        <option value="NA"></option>
                    </select>
                </div>
                <div ng-switch-when="checkbox">
                    <div>
                        <span ng-repeat="checkbox in checkboxes">
                            <input id="::{{uuid+$index}}"
                                   type="radio"
                                   ng-value="checkbox"
                                   ng-disabled="!fe"
                                   ng-init="oldValue=''"
                                   ng-focus="oldValue=pureContent.text"
                                   ng-model="pureContent.text"
                                   ng-click="toggleCheckbox($event)">
                            <label for="::{{uuid+$index}}">{{checkbox}}</label>
                        </span>
                    </div>
                </div>
                <div ng-switch-default></div>
            </div>
        </div>
        <div ng-switch-when="true">
            <div ng-switch on="t">
                <div ng-switch-when="p">
                    <h4 ng-if="reviewLayout('regular')">New Content:</h4>
                    <textarea ng-disabled="!reviewContentEditable('regular')"
                              ng-class="getInputClass()"
                              ng-init="oldValue=''"
                              ng-focus="oldValue=pureContent.text"
                              ng-model="pureContent.text"
                              ng-blur="data[key]=pureContent.text"
                              ng-change="updateContent(pureContent.text, oldValue)"
                              ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                    </textarea>
                    <div ng-if="reviewLayout('regular')">
                        <h4>Difference comparing to the old content:</h4>
                        <p ng-bind-html="diffHTML"></p>
                    </div>
                    <pub-iframe ng-model="data[key]"></pub-iframe>
                </div>
                <!--Seperate Mutation_Name & Treatment_Name here. We may need to recombine them in the future.
                  <div ng-switch-when="MUTATION_NAME|TREATMENT_NAME" ng-switch-when-seperator="|">-->
                <div ng-switch-when="MUTATION_NAME">
                    <h4 ng-if="reviewLayout('name')">New Content:</h4>
                    <input type="text" ng-disabled="!reviewContentEditable('regular')" ng-style="{ 'width': (pureContent.text.length * 11) + 'px' }"
                           ng-init="oldValue=''"
                           ng-focus="oldValue=pureContent.text"
                           ng-model="pureContent.text"
                           ng-blur="data[key]=pureContent.text"
                           ng-change="updateContent(pureContent.text, oldValue)"
                           ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                           class="editEmpty input-name">
                    </input>
                    <div ng-if="reviewLayout('name')" ng-class="getOldContentDivClass(data[key])">
                        <h4>Old Content:</h4>
                        <p ng-class="getOldContentClass(data[key+'_review'].lastReviewed)">{{::data[key+'_review'].lastReviewed}}</p>
                    </div>
                </div>
                <div ng-switch-when="TREATMENT_NAME">
                    <h4 ng-if="reviewLayout('name')">New Content:</h4>
                    <p class="editEmpty treatment-name">{{uuidtoName(data[key], data[key+'_review'].lastReviewed, uuid)}}</p>
                    <div ng-if="reviewLayout('name')" ng-class="getOldContentDivClass(data[key])">
                        <h4>Old Content:</h4>
                        <p ng-class="getOldContentClass(data[key+'_review'].lastReviewed)">{{::uuidtoName(data[key+'_review'].lastReviewed)}}</p>
                    </div>
                </div>

                <div ng-switch-when="treatment-select" class="chosen-full-width">
                    <h4 ng-if="reviewLayout('regular') && data[key+'_review'].lastReviewed">New Content:</h4>
                    <select ng-disabled="!reviewContentEditable('regular')"
                            chosen allow-single-deselect="true"
                            ng-init="oldValue=''"
                            ng-focus="oldValue=pureContent.text"
                            ng-blur="data[key]=pureContent.text"
                            ng-model="pureContent.text"
                            ng-change="updateContent(pureContent.text, oldValue)"
                            ng-options="opt.value as opt.label for opt in o">
                        <option value="NA"></option>
                    </select>
                    <div ng-if="reviewLayout('regular') && data[key+'_review'].lastReviewed">
                        <h4>Old Content:</h4>
                        <select ng-disabled="true"
                                chosen
                                ng-model="data[key+'_review'].lastReviewed"
                                ng-options="opt.value as opt.label for opt in o">
                            <option value="NA"></option>
                        </select>
                    </div>
                    <div style="margin-top:10px;">
                        <strong>Level of Evidence in other tumor types: </strong>
                        <h4 ng-if="reviewLayout('regular') && data.propagation_review.lastReviewed">New Content:</h4>
                        <div>
                            <select ng-disabled="!reviewContentEditable('regular')"
                                    chosen allow-single-deselect="true"
                                    ng-model="data.propagation"
                                    ng-init="oldValue=''"
                                    ng-focus="oldValue=data.propagation"
                                    ng-change="updateContent(data.propagation, oldValue)"
                                    ng-options="opt.value as opt.name for opt in content.propagationOpts">
                                <option value="NA"></option>
                            </select>
                        </div>
                        <div ng-if="reviewLayout('regular') && data.propagation_review.lastReviewed">
                            <h4>Old Content:</h4>
                            <div>
                                <select ng-disabled="true"
                                        chosen
                                        ng-model="data.propagation_review.lastReviewed"
                                        ng-options="opt.value as opt.name for opt in content.propagationOpts">
                                    <option value="NA"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="implication" class="chosen-full-width">
                    <div>
                        <h4 ng-if="reviewLayout('regular')">New Content:</h4>
                        <div>
                            <select ng-disabled="!reviewContentEditable('regular')"
                                    chosen allow-single-deselect="true"
                                    ng-init="oldValue=''"
                                    ng-focus="oldValue=pureContent.text"
                                    ng-blur="data[key]=pureContent.text"
                                    ng-model="pureContent.text"
                                    ng-change="updateContent(pureContent.text, oldValue)"
                                    ng-options="opt.value as opt.label for opt in o">
                                <option value="NA"></option>
                            </select>
                        </div>
                        <div ng-if="reviewLayout('regular')">
                            <h4>Old Content:</h4>
                            <select ng-disabled="true"
                                    chosen
                                    ng-model="data[key+'_review'].lastReviewed"
                                    ng-options="opt.value as opt.label for opt in o">
                                <option value="NA"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="select-chosen" class="chosen-full-width">
                    <h4 ng-if="reviewLayout('regular')">New Content:</h4>
                    <select ng-disabled="!reviewContentEditable('regular')"
                            chosen allow-single-deselect="true"
                            ng-init="oldValue=''"
                            ng-focus="oldValue=pureContent.text"
                            ng-blur="data[key]=pureContent.text"
                            ng-model="pureContent.text"
                            ng-change="updateContent(pureContent.text, oldValue)"
                            ng-options="opt for opt in o">
                        <option value="NA"></option>
                    </select>
                    <div ng-if="reviewLayout('regular')">
                        <h4>Old Content:</h4>
                        <p class="unEditableBox">{{::reviewObj.lastReviewed}}</p>
                    </div>
                </div>
                <div ng-switch-when="checkbox">
                    <div>
                        <div ng-if="key !== 'ocg' && reviewLayout('regular')"><br/><h4>New Content:</h4></div>
                        <div ng-style="getInputStyle('new')">
                            <span ng-repeat="checkbox in checkboxes">
                              <input id="::{{uuid+$index}}"
                                     type="radio"
                                     ng-value="checkbox"
                                     ng-disabled="!reviewContentEditable('regular')"
                                     ng-init="oldValue=''"
                                     ng-focus="oldValue=pureContent.text"
                                     ng-blur="data[key]=pureContent.text"
                                     ng-model="pureContent.text"
                                     ng-change="updateContent(pureContent.text, oldValue)"
                                     ng-click="uncheck($event)">
                              <label for="::{{uuid+$index}}">{{checkbox}}</label>
                            </span>
                        </div>
                    </div>
                    <div ng-if="reviewLayout('regular')">
                        <h4 ng-if="key !== 'ocg'">Old Content:</h4>
                        <div ng-style="getInputStyle('old')">
                            <span ng-repeat="checkbox in checkboxes" class="reviewedBG">
                              <input id="::{{uuid+$index+'_review'}}"
                                     type="radio"
                                     ng-checked="getOldContentChecked(checkbox)"
                                     ng-disabled="true">
                              <label for="::{{uuid+$index+'_review'}}">{{checkbox}}</label>
                            </span>
                        </div>

                    </div>
                </div>
                <div ng-switch-default></div>
            </div>
        </div>
        <div ng-switch-default></div>
    </div>
</div>
