<div class="input-group input-group-sm vusGroup">
    <span
        ng-if="!status.editing"
        class="input-group-addon"
        ng-class="getVUSClass(vus.time.value)"
        qtip
        qtip-type="vusItem"
        time="vus.time.value"
        by="vus.time.by.name"
    >
        {{vus.name}}
    </span>
    <input
        type="text"
        style="display: inline-block; width: auto;"
        ng-model="status.tmpValue"
        class="form-control"
        ng-show="status.editing"/>
    <span class="input-group-btn" ng-if="fileEditable">
        <button class="btn btn-default"
                ng-show="!status.editing"
                type="button" ng-click="status.editing=true" qtip qtip-content="Edit VUS">
            <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-default"
                ng-show="status.editing"
                type="button"
                ng-click="updateVus()"
                qtip qtip-content="Done Editing VUS">
            <i class="fa fa-check"></i>
        </button>
        <button class="btn btn-default"
                ng-show="status.editing"
                type="button" ng-click="onDiscard()" qtip
                qtip-content="Discard the Changes">
            <i class="fa fa-times"></i>
        </button>
        <button class="btn btn-default" type="button" style="text-align:left">
            <comments-dict key="'name'"
                           path="commentsPath"></comments-dict>
        </button>
        <button class="btn btn-default"
                type="button" ng-click="refreshVus()" qtip
                qtip-content="Recheck: set the date to today">
            <i class="fa fa-refresh"></i>
        </button>
        <button class="btn btn-default" type="button" ng-click="deleteVus()">
            <i class="fa fa-trash-o"></i>
        </button>
    </span>
</div>
